**/local.properties
**/.directory
.work
.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
**/generated-web-resources
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

krp_home/
src/main/resources/static
# Project exclude paths
/app-kodiapi/out/
/app-kodiapi/out/production/classes/
/app-kodiapi/out/test/classes/
/web-kodirater/src/main/polymer/kodi-rater/node_modules/
/app-download/error.log
/app-download/error.urls
.directory
build
woelkchen.iml
.gradle
.idea
.work
